In [1]:
import pandas as pd

In [2]:
data=pd.read_csv('sonar.csv',header=None)
data.tail()

,0,1,2,3,4,5,6,7,8,9,...,51,52,53,54,55,56,57,58,59,60
203,0.0187,0.0346,0.0168,0.0177,0.0393,0.1630,0.2028,0.1694,0.2328,0.2684,...,0.0116,0.0098,0.0199,0.0033,0.0101,0.0065,0.0115,0.0193,0.0157,M
204,0.0323,0.0101,0.0298,0.0564,0.0760,0.0958,0.0990,0.1018,0.1030,0.2154,...,0.0061,0.0093,0.0135,0.0063,0.0063,0.0034,0.0032,0.0062,0.0067,M
205,0.0522,0.0437,0.0180,0.0292,0.0351,0.1171,0.1257,0.1178,0.1258,0.2529,...,0.0160,0.0029,0.0051,0.0062,0.0089,0.0140,0.0138,0.0077,0.0031,M
206,0.0303,0.0353,0.0490,0.0608,0.0167,0.1354,0.1465,0.1123,0.1945,0.2354,...,0.0086,0.0046,0.0126,0.0036,0.0035,0.0034,0.0079,0.0036,0.0048,M
207,0.0260,0.0363,0.0136,0.0272,0.0214,0.0338,0.0655,0.1400,0.1843,0.2354,...,0.0146,0.0129,0.0047,0.0039,0.0061,0.0040,0.0036,0.0061,0.0115,M

In [3]:
from sklearn.utils import shuffle
data=shuffle(data)

In [4]:
data[60]=data[60].map({'M':1,'R':0})
data[60].sample(5)

140    1
0      0
63     0
186    1
121    1
Name: 60, dtype: int64

In [5]:
x=data.drop(columns=[60])
y=data[60]

In [6]:
print(x.shape)
print(y.shape)

(208, 60)
(208,)

In [7]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

In [8]:
from sklearn.preprocessing import MinMaxScaler

scale=MinMaxScaler()

x_train_scaled=pd.DataFrame(scale.fit_transform(x_train))
x_test_scaled=pd.DataFrame(scale.fit_transform(x_test))

In [9]:
x_train_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.550885,0.405904,0.235116,0.131972,0.163226,0.147003,0.318182,0.527382,0.516659,0.617098,...,0.155378,0.025862,0.127273,0.277778,0.227064,0.028205,0.196023,0.096774,0.292011,0.203233
1,0.260324,0.167897,0.044400,0.199529,0.216894,0.155066,0.253517,0.306100,0.309344,0.340084,...,0.150398,0.132184,0.049351,0.023392,0.105505,0.225641,0.017045,0.184332,0.300275,0.106236
2,0.143068,0.113776,0.199798,0.103299,0.197523,0.396936,0.380141,0.290294,0.440249,0.538261,...,0.053785,0.093391,0.509091,0.274854,0.064220,0.069231,0.167614,0.186636,0.190083,0.083141
3,0.209440,0.419434,0.492936,0.378240,0.229914,0.141629,0.026245,0.159172,0.249667,0.116447,...,0.340637,0.640805,0.706494,0.473684,0.174312,0.107692,0.568182,0.285714,0.314050,0.020785
4,0.108407,0.151907,0.124622,0.128830,0.180692,0.099436,0.276786,0.287177,0.077447,0.165051,...,0.136454,0.083333,0.200000,0.649123,0.428899,0.179487,0.090909,0.216590,0.129477,0.030023

In [10]:
x_test_scaled.head()

,0,1,2,3,4,5,6,7,8,9,...,50,51,52,53,54,55,56,57,58,59
0,0.332298,0.214872,0.269370,0.149215,0.283033,0.835139,0.692087,0.921959,0.576592,0.453708,...,0.278177,0.174312,0.313492,0.132616,0.240437,0.772532,0.430421,0.161404,0.159722,0.165179
1,0.000000,0.122352,0.047807,0.039505,0.093076,0.375085,0.617257,0.432185,0.207865,0.216576,...,0.237410,0.323394,0.265873,0.089606,0.295082,0.317597,0.304207,0.045614,0.076389,0.031250
2,0.208075,0.267185,0.120013,0.026416,0.103728,0.236967,0.275689,0.069968,0.089513,0.122842,...,0.386091,0.061927,0.166667,0.258065,0.196721,0.274678,0.317152,0.550877,0.309028,0.017857
3,0.215839,0.141375,0.152984,0.129938,0.025361,0.419093,0.444683,0.287406,0.315918,0.368525,...,0.079137,0.178899,0.142857,0.412186,0.081967,0.103004,0.087379,0.266667,0.104167,0.183036
4,0.184006,0.240380,0.353775,0.242980,0.230028,0.732566,0.790548,1.000000,1.000000,1.000000,...,0.057554,0.513761,0.619048,0.301075,0.475410,1.000000,1.000000,0.564912,0.309028,0.316964

In [11]:
from sklearn.neighbors import KNeighborsClassifier

knn=KNeighborsClassifier(n_neighbors=3)
knn.fit(x_train_scaled,y_train)

predicted=knn.predict(x_test_scaled)
print(predicted)

[1 1 0 1 0 1 1 1 0 1 1 0 0 0 1 1 0 1 1 0 1 0 0 0 1 1 1 0 0 0 0 1 1 0 0 1 1
 0 0 0 1 0 1 1 1 1 0 0 0 1 1 0 1 0 1 1 1 1 1 1 0 0 0]

In [12]:
from sklearn.metrics  import accuracy_score, classification_report

acc=accuracy_score(y_test,predicted)
print(f"Accuracy score is {acc*100}")

Accuracy score is 85.71428571428571